@model List<DefaultNamespace.Restaurant>

@{
    ViewData["Title"] = "Restaurant";
    Layout = "_Layout";
}
    <h1 class="display-3 fw-bold text-md-center ">Restauracje</h1><br/>
<table class="table">
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        </tr>
    }

</table>